<%= form_tag admin_words_path, method: :get do %>
  <div class="row">
    <div class="col-md-3">
      <%= category_select %>
    </div>
      <div class="input-group col-md-8">
        <%= text_field_tag :search, params[:search],
          class: "search-query form-control", placeholder: t("user.search") %>
        <span class="input-group-btn">
          <%= button_tag type: "submit", class: "btn btn-danger" do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </span>
      </div>
  </div>
<% end %>
