<% provide :title, t("static_page.signup") %>
<div class="row" id="signup">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center panel-title"><%= t "static_page.signup" %></h1>
      </div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
