.page-word-content{
  width: 80%;
  margin: 0 auto;
}

.table-word{
  border: 1px solid #dddddd;
}

.row-table-word{
  height: 50px;
}

.word-content{
  margin-top: 10px;
}
.admin-words {
  .col-id {
    width: 10%;
  }
  .col-content {
    width: 35%;
  }
  .col-correct {
    width: 40%;
  }
  .col-id {
    action: 15%;
  }
}
.btn-add-word {
padding: 0px;
}
